body {
    font-family: "Poppins", Arial, sans-serif;
    background: #f1f1f1;
}

.container {
    width: 360px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
    border-top: 4px solid #89c9ff;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #4b4b4b;
}

label {
    font-size: 14px;
    color: #333;
    margin: 8px 0 3px;
    display: block;
}

input, select {
    width: 100%;
    padding: 9px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 2px solid #d9e4ec;
    background: #ffffff;
}

input:focus, select:focus {
    outline: none;
    border-color: #89c9ff;
    background: #eef7ff;
}

button {
    width: 100%;
    padding: 10px;
    background: #89c9ff;
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #6bb5f3;
}

#errorMsg {
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: -5px;
}

/* Popup */
.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    border-left: 5px solid #a8e6cf;
}

.popup-box h3 {
    color: #333;
    margin-bottom: 10px;
}

.popup-box button {
    margin-top: 12px;
    padding: 8px 12px;
    background: #a8e6cf;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.popup-box button:hover {
    background: #95d9c1;
}
