body {
    font-family: Arial;
    background: #eef5ff;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    background: #ffffff;
    padding: 20px 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    color: #355b9b;
}

label {
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 9px;
    margin-top: 4px;
    margin-bottom: 2px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background: #f9fcff;
    transition: 0.2s;
}

.error {
    color: #d05b5b;
    font-size: 13px;
    height: 15px;
}

.gender-box {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.pass-wrap {
    position: relative;
}

.togglePass {
    position: absolute;
    right: 8px;
    top: 9px;
    cursor: pointer;
    font-size: 15px;
}

button {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    background: #5c8dff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#clearBtn {
    background: #9bb3dd;
}

#successBox {
    display: none;
    margin-top: 10px;
    background: #d3ffe1;
    padding: 10px;
    border: 1px solid #7cd69b;
    border-radius: 6px;
    color: #2e7d4f;
    text-align: center;
}
